.buttonStyle {
  .deleteButton {
    font-size: 24px;
    margin-right: 20px;
    color: red;
    cursor: pointer;
  }

  .editButton {
    font-size: 24px;
    color: green;
    cursor: pointer;
  }
}

.container {
  h2 {
    font-size: 28px;
  }
}
