.buttonStyle {
  .registerButton {
    font-size: 24px;
    margin-right: 10px;
    color: orange;
    cursor: pointer;
  }

  .deleteButton {
    font-size: 24px;
    margin-right: 10px;
    color: red;
    cursor: pointer;
  }

  .editButton {
    font-size: 24px;
    color: green;
    cursor: pointer;
  }
}

.container {
  width: 100%;

  h2 {
    font-size: 28px;
  }
}