.registerUser {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  h3 {
    text-align: left;
  }

  form {
    margin-bottom: 15px;
  }

  .border__bottom {
    border-bottom: 1px solid #6c757d !important;
  }

  .row {
    display: flex;

    .col__6 {
      width: 50%;

      .formStyle {
        input {
          width: 100%;
        }
      }
    }

    .col__3 {
      width: 25% !important;
    }

    .col__9 {
      width: 75% !important;

      .registerUser__button {
        text-align: right;
      }

      .registerCourse__button {
        text-align: right;
      }
    }
  }

  .registerUser__middle {
    padding-top: 15px;
    text-align: center;
  }

  .registerUser__bottom {
    padding-top: 15px;
  }
}
